body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background: #4caf50;
  color: white;
  padding: 20px;
  text-align: center;
}

main {
  padding: 20px;
}

h2 {
  color: #4caf50;
}

ul {
  list-style-type: none; /* Elimina los puntos de la lista */
  padding: 0;
}

footer {
  text-align: center;
  padding: 10px;
  background: #333;
  color: white;
  position: absolute; /* Para que el pie de página esté en la parte inferior */
  width: 100%;
  bottom: 0;
}
